:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-white-floral: #FFF9EC;
  --color-gray-taupe: #888888;
  --color-gray-dark-charcoal: #333333;
  --color-gray-silver: #CCCCCC;
  --color-lavender: #9747FF;
  --color-ochre: #D47F1B;

  --max-width: 1440px;
  --max-width-small: 1200px;

  --mobile-breakpoint: 480px;
	--tablet-breakpoint: 768px;
	--laptop-breakpoint: 992px;
	--desktop-breakpoint: 1200px;
	--widescreen-breakpoint: 1400px;

  --font-playfair: 'Playfair Display', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --text-base-color: var(--color-black);
  --text-regular: 16px;

  --border-radius: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: var(--text-regular);
}

body {
  font-family: var(--font-inter);
  color: var(--text-base-color);
  background-color: var(--color-white);
  font-size: 1.25rem;
  line-height: 1.2rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 250ms ease;
}

h1, .h1 {
  font-family: var(--font-playfair);
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.25rem;
  
}

h2, .h2 {
  font-family: var(--font-playfair);
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.75rem;
}

h3, .h3 {
  font-family: var(--font-playfair);
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

main {
  height: 100vh;
  padding-top: 40px;

}

.page-loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  main {
    padding-top: 80px;
  }

  h1, .h1 {
    font-size: 3.75rem;
    line-height: 5rem;
  }

  h2, .h2 {
    font-size: 2.5rem;
    line-height: 3.25rem;
  }

  h3, .h3 {
    font-size: 2rem;
    line-height: 2.75rem;
  }
}
